body{
    background: #d8c1c1;
}
#head-shruti{
    align-items: center;
    color: black;
    display: flex;
    font-size: xx-large;
    font-weight: 500;
    font-style: oblique;
    align-content: center;
}
#info{
    align-items: center;
    color: rgb(40, 68, 61);
    display:flex;
    margin-left: 700px;
    font-style:initial;
}
#outer-box{
    align-items: center;
    width: 500px;
    height: 600px;
    background-color: rgb(198, 176, 148);
    margin-left: 550px;
    
}
.details{
    margin-left: 50px;
    padding-top: 50px;
    font-size: larger;
}
.detail-title{
    font-style: oblique;
    font-size: larger;

}